<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    @await Html.PartialAsync("CssPartial.cshtml")

</head>
<body>
    @await Html.PartialAsync("HeaderPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("FooderPartial.cshtml")
    @await Html.PartialAsync("JsPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
