<script src="~/template/assetsadmin/js/feather-icons/feather.min.js"></script>
<script src="~/template/assetsadmin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/template/assetsadmin/js/app.js"></script>
<script src="~/template/assetsadmin/vendors/chartjs/Chart.min.js"></script>
<script src="~/template/assetsadmin/vendors/apexcharts/apexcharts.min.js"></script>
<script src="~/template/assetsadmin/js/pages/dashboard.js"></script>
<script src="~/template/assetsadmin/js/main.js"></script>
<script src="~/js/ckeditor.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    </div>
</div>

